.mat-card {
  background: rgb(216, 231, 230);
  margin-top: 15px;
}
.mat-card-title {
  font-weight: 100;
  font-family: 'Courier New', Courier, monospace;
}
.seeMore {
  border-radius: 5px;
  background-color: rgb(32, 34, 49);
  padding: 5px;
  margin: 5px;
  color: white;
}
.seeMore:hover {
  background-color: #005999;
}
span {
  display: inline-block;
  width: 50px;
  height: 50px;
}
