<div style="width: 45%; margin-left: 25%">
  <mat-card *ngFor="let data of dataSource" class="card">
    <div class="row">
      <div class="offset-1 col-5">
        <!-- <mat-card-header>
          <img mat-card-avatar [src]="data.user.imageUrl" />
          <mat-card-title>{{ data.user.name }}</mat-card-title>
          <mat-card-subtitle>{{ data.user.name }}</mat-card-subtitle>
        </mat-card-header> -->
        <h2>{{ data.package.name }}</h2>
      </div>

      <div class="offset-1 col-5 align-self-end">
        <button
          mat-raised-button
          routerLink="/home/package/{{ data.packageId }}">
          <span>See more</span>
        </button>
        <span
          class="glyphicon"
          [class.glyphicon-heart]="isFavorite"
          [class.glyphicon-heart-empty]="!isFavorite"
          (click)="onFavorite(data.id)">
          <mat-icon> favorite </mat-icon><ng-content></ng-content>
        </span>
      </div>
    </div>
  </mat-card>
</div>
