.mat-card {
  background: rgb(216, 231, 230);
  margin-top: 8px;
}

::ng-deep .mat-paginator-page-size-select {
  width: 50px !important;
}

::ng-deep .mat-select-value {
  color: #005999;
  font-weight: bold;
  font-size: 15px;
}
::ng-deep .mat-select-arrow {
  color: #005999;
}
// button {
//   border-radius: 5px;
//   background-color: rgb(143, 144, 155);
//   color: white;
//   padding: 5px;
//   margin: 5px;
// }
