<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <div class="d-flex align-items-center mb-3">
        <button class="mr-2" routerLink="/profile" mat-icon-button>
          <mat-icon>arrow_back</mat-icon>
        </button>
        <h1 class="mb-0">Edit Profile</h1>
      </div>

      <mat-card>
        <mat-card-content *ngIf="profileData$ | async as data">
          <app-form-edit
            [user]="data"
            (submitted)="handleEdit($event)"></app-form-edit>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
