// @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

section {
  width: 100%;
  display: inline-block;
  background-color: rgb(53, 84, 105);
  max-height: 10vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  background-color: rgb(53, 84, 105);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* Logo */

.footer-distributed img {
  margin-bottom: 15px;
}

/* Footer links */

.footer-distributed .footer-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 4px;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-about {
  line-height: 20px;
  color: #dee1e4;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

// @media (max-width: 880px) {

//   .footer-distributed{
//     font: bold 14px sans-serif;
//   }

//   .footer-distributed .footer-left,
//   .footer-distributed .footer-center,
//   .footer-distributed .footer-right{
//     display: block;
//     width: 100%;
//     margin-bottom: 40px;
//     text-align: center;
//   }

// }
