<footer class="footer-distributed">
  <div class="footer-left">
    <img src="assets/img/logo-alb.png" height="80px" width="100px" />

    <p class="footer-name">Alb-Tourist © 2021</p>
  </div>

  <div class="footer-center">
    <div>
      <p><span>Nr. 444 </span> Bulevardi Zogu I, Tirane</p>
    </div>

    <div>
      <p>+355.555.555.000</p>
    </div>

    <div>
      <p>
        <a href="mailto:Alb-Tourist@company.com">Alb-Tourist@company.com</a>
      </p>
    </div>
  </div>

  <div class="footer-right">
    <p class="footer-about">
      <span>About </span>
      Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod
      convallis velit, eu auctor lacus vehicula sit amet.
    </p>
  </div>
</footer>
