<div class="container">
  <div class="row">
    <mat-card
      class="offset-1 col-lg-5 col-sm-8"
      *ngFor="let data of dataSource?.data">
      <div class="row">
        <div class="offset-1 col-5">
          <mat-card-header>
            <img mat-card-avatar [src]="data.user.imageUrl" />
            <mat-card-title>{{ data.user.name }}</mat-card-title>
            <mat-card-subtitle>{{ data.user.name }}</mat-card-subtitle>
          </mat-card-header>
          <h2>{{ data.name }}</h2>
        </div>
        <div class="offset-1 col-5 align-self-end">
          <button
            class="seeMore"
            mat-raised-button
            routerLink="package/{{ data.id }}">
            See more
          </button>

          <!-- <span
            class="glyphicon"
            [class.glyphicon-heart]="isFavorite"
            [class.glyphicon-heart-empty]="!isFavorite"
            (click)="onFavorite(data.id, data)">
            <mat-icon> favorite </mat-icon>
          </span> -->

          <button
            class="btn btn-sm"
            [ngClass]="{
              disabled: isSubmitting,
              'btn-outline-primary': !isFavorite,
              'btn-primary': isFavorite
            }"
            (click)="onFavorite(data.id, data)">
            <i class="ion-heart"></i> <ng-content></ng-content>
          </button>

          <!-- <span
            class="glyphicon"
            [ngClass]="{
              'glyphicon-heart': isFavorite,
              'glyphicon-heart-empty': !isFavorite
            }"
            (click)="onFavorite(data.id, data)">
            <mat-icon> favorite </mat-icon> -->
          <!-- <ng-content></ng-content> -->
          <!-- </span> -->
        </div>
      </div>
    </mat-card>
    <!-- </div> -->
  </div>

  <mat-paginator
    [length]="dataSource.pagination.totalPages * dataSource.pagination.pageSize"
    [pageIndex]="dataSource.pagination.currentPage - 1"
    [pageSize]="dataSource.pagination.pageSize"
    [pageSizeOptions]="[10, 30, 50]"
    (page)="paginated.emit($event)">
  </mat-paginator>
</div>
