<!-- <div class="package-page">

    <div class="banner">
      <div class="container">
        <h1>{{ package.name }}</h1>
  
        <app-package-meta [package]="package">
  
            <span [hidden]="!canModify">

  
            <app-favorite-button
              [package]="package"
              (toggle)="onToggleFavorite($event)">
              {{ package.favorited ? 'Unfavorite' : 'Favorite' }} Package <span class="counter">({{ package.favoritesCount }})</span>
            </app-favorite-button>
          </span>
  
        </app-package-meta>
      </div>
    </div>
  
    <div class="container page">
  
      <div class="row package-content">
        <div class="col-md-12">
  
          <div [innerHTML]="package.body | markdown"></div>
  
        </div>
      </div>
  
      <hr />
  
       <div class="package-actions"> -->
        <!-- <app-package-meta [package]="package">
  
          <span [hidden]="canModify">
  
            <app-favorite-button
              [package]="package"
              (toggle)="onToggleFavorite($event)">
              {{ package.favorited ? 'Unfavorite' : 'Favorite' }} Article <span class="counter">({{ package.favoritesCount }})</span>
            </app-favorite-button>
          </span>
  
        </app-package-meta>
      
  
  
    </div>
  </div>
   -->