<div class="container pb-5">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <div class="d-flex align-items-center">
      <h1 class="m-0">Users</h1>
      <button class="mx-3" routerLink="add" mat-button color="primary">
        <mat-icon class="mr-2">person_add</mat-icon>
        <span>Add user</span>
      </button>
    </div>
    
    <div class="col">
      <mat-form-field appearance="outline">
      <input  matInput 
       placeholder="name" [(ngModel)]="nameFilter" />
      </mat-form-field>
      <button class="mr-2" mat-raised-button color="primary" type="button" (click)="handleSearch()">
        <mat-icon class="mr-2">search</mat-icon>
        <span>Search</span>
      </button>
      <button
      mat-raised-button
        color="warn"
        type="button"
        (click)="clearFilters()">
        Clear
      </button>
    </div>
  </div>
  
  <div *ngIf="data$ | async as data">
    <app-users-table
      *ngIf="data.data.length > 0"
      [dataSource]="data"
      (paginated)="handlePagination($event)">
   
    </app-users-table>
</div>
