.mat-card {
  background: rgb(216, 231, 230);
}
.content {
  width: 200px;
}
.img-container {
  width: 180px;
}
h3 {
  display: inline;
  margin: 10px;
}
label {
  font-weight: 100;
  font-family: 'Courier New', Courier, monospace;
}
button {
  background-color: rgb(109, 111, 206);
  color: white;
  margin-left: 80px;
}
