.mat-card {
  background: rgb(216, 231, 230);
}
.content {
  width: 200px;
}
.img-container {
  width: 180px;
}
h3 {
  display: inline;
  margin: 10px;
}
button {
  background-color: rgb(109, 111, 206);
  color: white;
}
