<!-- <app-article-preview
  *ngFor="let package of results"
  [package]="package">
</app-article-preview>

<div class="app-package-preview"
  [hidden]="!loading">
  Loading packages...
</div>

<div class="app-package-preview"
  [hidden]="loading || results.length">
  No packages are here... yet.
</div>

<nav [hidden]="loading || totalPages.length <= 1">
  <ul class="pagination">

    <li class="page-item"
      [ngClass]="{'active': pageNumber === currentPage}"
      *ngFor="let pageNumber of totalPages"
      (click)="setPageTo(pageNumber)">

      <a class="page-link" >{{ pageNumber }}</a>

    </li>

  </ul>
</nav>
 -->
