<div
  class="container d-flex justify-content-center"
  *ngIf="user$ | async as user">
  <div class="row">
    <mat-card class="mt-3 py-4 profile">
      <mat-card-content
        class="d-flex flex-column justify-content-center align-items-center">
        <div *ngIf="!display">
          <div class="image-container">
            <img [src]="user.imageUrl" height="180" />
          </div>
          <hr />

          <label>Name:</label>
          <h3>{{ user.name }}</h3>
          <label>Email:</label>
          <h3>{{ user.email }}</h3>
          <button routerLink="edit" mat-button class="edit">Edit</button>
        </div>
      </mat-card-content></mat-card
    >
  </div>
</div>
