.profile {
  min-width: 380px;
  background-color: #bcc9db42;
  color: rgb(20, 29, 37);
  min-height: 300px;
}

.image-container {
  border-radius: 10%;
  width: 200px;
  overflow: hidden;
}

button {
  min-width: 80px;
  background-color: rgb(53, 84, 105);

  color: white;
  height: 35px;
  margin-top: 20px;
}

button:hover {
  background-color: #4d2f4b;
}

label {
  border-width: 1px;
  border-bottom: solid #8e9db4;
  padding: 4px;
  margin-bottom: 5px;
  font-size: large;
}
