.profile{
  min-width: 380px;
}

.image-container {
  border-radius: 10%;
  width: 200px;
  // height: 150px;
  overflow: hidden;
}

.edit {
  min-width: 80px;
  background-color: #b993b7;
  color: white;
  height: 35px;
  margin-top: 20px;
}
label {
  border-width: 1px;
  border-bottom: solid #8e9db4;
  padding: 4px;
  margin-bottom: 5px;
  font-size: large;
}
.profile{
  background-color: #bcc9db42;
  color: rgb(20, 29, 37);
  min-height: 300px;
}
